
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

<style>
    body {
        font-family: 'Poppins', sans-serif !important;
    }

    .btn-icon {
        display: flex;
        width: 2vh;
        align-items: center;
        justify-content: center;
        padding: 10px 10px 10px 17px;
        font-size: 1.2rem;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .btn-icon i {
            margin-right: 8px; /* Space between icon and text */
        }

        .btn-icon:hover {
            background-color: #0056b3; /* Darker blue on hover */
        }



    /* Green Save Button */
    .btn-save {
        background-color: #28a745; /* Green */
    }

        .btn-save:hover {
            background-color: #218838; /* Darker green on hover */
        }

    /* Red Delete Button */
    .btn-delete {
        background-color: #dc3545; /* Red */
    }

        .btn-delete:hover {
            background-color: #c82333; /* Darker red on hover */
        }
</style>
<body>
    <div class="sidebar">
        <h1>Infinity Prints</h1>
        <ul>
            <li style="margin-bottom: 5px;">
                <a ng-click="Homepage()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-home " style="font-size: 18px;"></i>
                    </span>
                    Homepage
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="Account()">

                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-user-circle " style="font-size: 18px;"></i>
                    </span>
                    Account
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="Reviews()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-star" style="font-size: 18px;"></i>
                    </span>
                    Reviews
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="Service()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-shopping-cart" style="font-size: 18px;"></i>
                    </span>
                    Services
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="Orders()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-box-open" style="font-size: 18px;"></i>
                    </span>
                    Orders
                </a>
            </li>
            <li style="margin-bottom: 5px;" class="active">
                <a ng-click="Users()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-users active" style="font-size: 18px;"></i>
                    </span>
                    Users
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="Payment()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-credit-card" style="font-size: 18px;"></i>
                    </span>
                    Payment
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="Chat()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-comments" style="font-size: 18px;"></i>
                    </span>
                    Chat
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="UserGuide()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-book-open" style="font-size: 18px;"></i>
                    </span>
                    User Guide
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="Status()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-spinner " style="font-size: 18px;"></i>
                    </span>
                    Status
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="Receipts()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-receipt" style="font-size: 18px;"></i>
                    </span>
                    Receipts
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="Receipts()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-file-alt" style="font-size: 18px;"></i>
                    </span>
                    Logs
                </a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <div class="user-info">
                <button class="logout-btn" ng-click="logoutfunc()">
                    <p class="user-name"><i class="fas fa-user-circle"></i> {{ getFullName }}</p>
                    <i class="fas fa-sign-out-alt"></i>
                </button>

            </div>
        </div>
    </div>

    <div class="main-content">
        <p style="text-align: right;">Employee Dashboard</p>
        <h1 style="font-size: 2.5rem; font-weight: 600; color: #6f0d4a;  text-align: center;">
            Customers
        </h1>
        <div class="row white-text m2" ng-init="loadUsers()">

            <div class="table-wrapper">
                <table id="myTable" class="display">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>User Name</th>
                            <th>Role</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                            <th>Delete</th>
                            <th>Save</th>
                            <th>
                                <a style="color:white" ng-click="Users()">
                                    <i class="fas fa-arrow-left"></i>
                                </a>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pDATA in UsersData">
                            <td>{{pDATA.UserID}}</td>
                            <td>{{pDATA.LName}}</td>
                            <td>{{pDATA.FName}}</td>
                            <td>{{pDATA.Email}}</td>
                            <td>{{pDATA.PhoneNum}}</td>
                            <td>{{pDATA.UName}}</td>
                            <td>
                                <select ng-model="pDATA.RoleID" ng-options="role for role in ['Customer', 'Employee']" style=" padding: 8px; border-radius: 4px;">
                                </select>
                            </td>

                            <td>{{DateFormat(pDATA.CreatedAt)}}</td>
                            <td>{{DateFormat(pDATA.UpdatedAt)}}</td>
                            <td><a class=" btn-icon btn-save" ng-click="updateUser(pDATA)"><i class="fas fa-save"></i></a></td>
                            <td><a class=" btn-icon btn-delete" ng-click="DeleteUser(pDATA)"><i class="fas fa-trash"></i></a></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>



            </div>
        </div>
    </div>


</body>
