@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<body>
    <div class="sidebar">
        <h1>Infinity Prints</h1>
        <ul>
            <li style="margin-bottom: 5px;">
                <a ng-click="DashAdmin()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-home " style="font-size: 18px;"></i>
                    </span>
                    Homepage
                </a>
            </li>
            <li style="margin-bottom: 5px;" class="active">
                <a ng-click="Account()">

                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-user-circle active" style="font-size: 18px;"></i>
                    </span>
                    Account
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="Reviews()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-star" style="font-size: 18px;"></i>
                    </span>
                    Reviews
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="Service()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-shopping-cart" style="font-size: 18px;"></i>
                    </span>
                    Services
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="Orders()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-box-open" style="font-size: 18px;"></i>
                    </span>
                    Orders
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="Users()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-users" style="font-size: 18px;"></i>
                    </span>
                    Users
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="Payment()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-credit-card" style="font-size: 18px;"></i>
                    </span>
                    Payment
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="Chat()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-comments" style="font-size: 18px;"></i>
                    </span>
                    Chat
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="UserGuide()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-book-open" style="font-size: 18px;"></i>
                    </span>
                    User Guide
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="Status()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-spinner " style="font-size: 18px;"></i>
                    </span>
                    Status
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="Receipts()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-receipt" style="font-size: 18px;"></i>
                    </span>
                    Receipts
                </a>
            </li>
            <li style="margin-bottom: 5px;">
                <a ng-click="Receipts()">
                    <span style="display: inline-block; width: 20px; text-align: center; margin-right: 10px;">
                        <i class="fas fa-file-alt" " style="font-size: 18px;"></i>
                    </span>
                    Logs
                </a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <div class="user-info">
                <button class="logout-btn" ng-click="logoutfunc()">
                    <p class="user-name"><i class="fas fa-user-circle"></i> {{ Name }}</p>
                    <i class="fas fa-sign-out-alt"></i>
                </button>

            </div>
        </div>
    </div>

    <div class="main-content">
        <p style="text-align: right;">Employee Dashboard</p>
        <h1 style="font-size: 2.5rem; font-weight: 600; color: #6f0d4a;  text-align: center;">
            Receipts
        </h1>
        <div class="row white-text m2" ng-init="loadReceipts()">

            <div class="table-wrapper">
                <table id="myTable" class="display">
                    <thead>
                        <tr>
                            <th>Receipt ID</th>
                            <th>User ID</th>
                            <th>Order ID</th>
                            <th>Payment Term</th>
                            <th>Balance</th>
                            <th>Created At</th>
                            <th>Delete</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pDATA in ReceiptsData">
                            <td>{{pDATA.ReceiptID}}</td>
                            <td>{{pDATA.UserID}}</td>
                            <td>{{pDATA.OrderID}}</td>
                            <td>{{pDATA.PaymentTerm}}</td>
                            <td>{{pDATA.Balance}}</td>

                            <td>{{DateFormat(pDATA.CreatedAt)}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
