<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <base href="/" />
    <style>
        body {
            font-family: 'Helvetica Neue', Arial, sans-serif;
            background-color: #f9f9f9;
            color: #333;
            margin: 0;
            padding: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background: white;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 40px;
            max-width: 500px;
            width: 100%;
            height: 500px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            color: #6f0d4a;
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
            color: gray;
            margin-bottom: 30px;
        }

        .input-icons {
            width: 100%;
            margin-bottom: 35px;
            color: #6f0d4a;
            position: relative;
        }

            .input-icons i {
                position: absolute;
            }

        .input-icon {
            padding: 10px;
            min-width: 40px;
        }

        .input-icon-right2 {
            position: absolute;
            top: 45%;
            right: 5px;
            transform: translateY(-50%);
            cursor: pointer;
            z-index: 10;
        }



        input {
            width: 100%;
            padding: 12px 40px;
            font-size: 14px;
            border: 1px solid #ddd;
            border-radius: 5px;
            outline: none;
            transition: border-color 0.3s;
            color: #6f0d4a;
        }

            input:focus {
                border-color: #6f0d4a;
            }

        .input-field {
            width: 100%;
            padding: 10px 40px;
            box-sizing: border-box;
            
        }

        .helper-text {
            font-size: 12px;
            position: absolute;
            left: 0;
            text-align: left;
            color: red;
        }
        

        .input-field.ng-invalid.ng-touched + .helper-text {
            visibility: visible;
        }



        .btn {
            background-color: #6f0d4a;
            color: white;
            font-size: 12px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            width: 150px
        }

            .btn:hover {
                background-color: #a02a60;
            }

        .footer {
            margin-top: 20px;
            font-size: 12px;
            color: #888;
        }

            .footer a {
                color: dodgerblue;
                text-decoration: none;
            }

                .footer a:hover {
                    text-decoration: underline;
                }
    </style>
</head>

<body ng-app="InfinityPrints" ng-controller="IPController">

    <div class="container">
        <h1>Reset Your Password</h1>
        <p>Please enter your new password below to reset your account.</p>
        <form name="resetPasswordForm" ng-submit="resetPassword(password, confirmPassword)" novalidate>
            <!-- New Password -->
            <div class="input-icons" ng-class="{'invalid': resetPasswordForm.password.$touched && resetPasswordForm.password.$invalid || resetPasswordForm.$submitted && resetPasswordForm.password.$invalid}">
                <i class="material-icons input-icon">lock</i>
                <input id="pass2" class="input-field validate" type="{{showPassword ? 'text' : 'password'}}" placeholder="Password" required ng-model="password2" name="password2"
                       ng-minlength="8" minlength="8" maxlength="15" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/" />

                <!-- Visibility icon -->
                <i class="material-icons input-icon input-icon-right2" ng-click="showPassword = !showPassword">
                    {{showPassword ? 'visibility_off' : 'visibility'}}
                </i>

                <!-- Error messages -->
                <span class="helper-text red-text" ng-show="resetPasswordForm.password2.$touched && resetPasswordForm.password2.$error.required">
                    Password is required.
                </span>
                <span class="helper-text red-text" ng-show="resetPasswordForm.password2.$touched && resetPasswordForm.password2.$error.minlength">
                    Password must be at least 8 characters long.
                </span>
                <span class="helper-text red-text" ng-show="resetPasswordForm.password2.$touched && resetPasswordForm.password2.$viewValue.length >= 8 && resetPasswordForm.password2.$error.pattern">
                    Password must contain at least one uppercase letter, one lowercase letter, and one number.
                </span>
            </div>

            <!-- Confirm Password -->
            <div class="input-icons" ng-class="{'invalid': resetPasswordForm.confirmPassword.$touched && (password !== confirmPassword) || resetPasswordForm.$submitted && (password !== confirmPassword)}">
                <i class="material-icons input-icon">lock</i>
                <input id="confpass" class="input-field validate" maxlength="15" type="{{showConfirmPassword ? 'text' : 'password'}}" placeholder="Confirm Password" required ng-model="confirmPassword" name="confpass" ng-minlength="8" />
                <i class="material-icons input-icon input-icon-right2" ng-click="showConfirmPassword = !showConfirmPassword">
                    {{showConfirmPassword ? 'visibility_off' : 'visibility'}}
                </i>

                <!-- Error messages -->
                <!-- Password mismatch -->
                <span class="helper-text red-text" ng-show="resetPasswordForm.confpass.$touched && confirmPassword !== password2 && confirmPassword !== ''">
                    Passwords do not match.
                </span>
                <!-- Required error -->
                <span class="helper-text red-text" ng-show="resetPasswordForm.confpass.$touched && confirmPassword === ''">
                    Confirm Password is required.
                </span>
            </div>

            <button type="submit" class="btn" ng-click="ChangePassword()" ng-disabled="resetPasswordForm.$invalid">Reset Password</button>
        </form>
        <footer>
            <div class="footer">
                <p>Need help? <a href="mailto:support@infinityprints.com">Contact Support</a></p>
            </div>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>
    <script src="~/Scripts/AngularJS/Module.js"></script>
    <script src="~/Scripts/AngularJS/Service.js"></script>
    <script src="~/Scripts/AngularJS/Controller.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>
